* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}
body{
    background-color: #393535;
    margin: 0;
    padding: 0;
    color: white
}

.header {
  background-color: #242222;
  color: #ffffff;
  padding: 10px;
}
.header a{
    text-decoration: none;
    color: white
}
.profile img{
    width: 100%;
}
ol{
  list-style: circle;
    cursor: pointer
}

.aside {
  background-color: hsl(0, 0%, 40%);
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
}
iframe{
    width:100%;
    height: 300px
}

/* For desktop: */
.col-1 {width: 25%;}
.col-2 {
    width: 35%;
    margin-top: 15px;
    background-color: hsl(0, 0%, 40%);
}
.col-3 {width: 40%;}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}